.about{
  display:flex;
  flex-direction: column;
  color:white;
  margin-left:10%;
  margin-top:10%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-left{
    animation: slideLeft 1s forwards;
        

}

@keyframes slideLeft {
    0%{
        
        transform:translateX(100%);
        opacity: 0;
    }
    100%{
        
        transform: translateX(0);
        opacity: 1;
    }
    
}

.greeting{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;

}

.intro{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    max-width: 60%;
    line-height:2;
}

.icons {
   display:inline;
   justify-content: center;
   align-items:center;
   margin-top:2%;
   
}

.icons img{
    width:30px;
    height:30px;
    margin-right:2%;
}
.info {
   
    
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    width: 200px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}


.innovative-button {
    display: block;
    width: 20%;
    
    padding: 10px 24px;
    background-color: #4CAF50;
  
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
   
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    
   
}

@media screen and (max-width:576px){
    .about {
            display: flex;
            flex-direction: column;
            color: white;
            
            
            margin:10%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
    .greeting {
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
    
        }

        .intro {
            font-family: 'Courier New', Courier, monospace;
            font-size: medium;
            max-width: 80%;
            line-height: 2;
        }
        .info {
            
    
            color: white;
            padding: 10px;
            border-radius: 5px;
    
            z-index: 1;
            width: 80%;
            text-align: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: small;
        }
        

        .innovative-button {
            display: block;
            min-width: 50%;
            height:30px;
            margin-top:10%;
            margin-left:0%;
            margin-right:0%;
            justify-content: flex-start;
            padding: 10px 24px;
            background-color: #4CAF50;
    
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 2px;
            border-radius: 25px;
    
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            font-family: 'Courier New', Courier, monospace;
    
    
        }
}

@media screen and (min-width:577px) and (max-width:768px){

    .greeting {
            font-family: 'Courier New', Courier, monospace;
            font-size: xx-large;
    
        }
    
        .intro {
            font-family: 'Courier New', Courier, monospace;
            font-size: x-large;
            max-width: 80%;
            line-height: 2;
        }

                .innovative-button {
                    display: block;
                    min-width: 50%;
                    height: 30px;
                    margin-top: 10%;
                    margin-left: 0%;
                    margin-right: 0%;
                    justify-content: flex-start;
                    padding: 10px 24px;
                    background-color: #4CAF50;
        
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    font-size: 2px;
                    border-radius: 25px;
        
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    font-family: 'Courier New', Courier, monospace;
        
        
                }
}

@media screen and (min-width:769px) and (max-width:1024px) {

    .greeting {
        font-family: 'Courier New', Courier, monospace;
        font-size: xx-large;

    }

    .intro {
        font-family: 'Courier New', Courier, monospace;
        font-size: x-large;
        max-width: 80%;
        line-height: 2;
    }

    .innovative-button {
        display: block;
        min-width: 50%;
        height: 30px;
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 0%;
        justify-content: flex-start;
        padding: 10px 24px;
        background-color: #4CAF50;

        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 2px;
        border-radius: 25px;

        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Courier New', Courier, monospace;


    }
}
