.Contact h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:white
    
}
.Contact{
    display:flex;
    flex-direction: column;
    margin-left:30%;
    margin-top:10%;
}

.contact-detail{
        display: flex;
        flex-direction: row;
        width: 40%;
        align-items: center;
        justify-content: space-between;
}

.contact-detail p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:white;
}