.Contact h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:white
    
}
.Contact{
    display:flex;
    flex-direction: column;
    margin-left:30%;
    margin-top:10%;
}

.contact-detail{
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        justify-content: space-between;
}

.contact-detail p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:white;
}

@media screen and (max-width:576px){

    .Contact {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-top: 10%;
        }
    
        .contact-detail {
            display: flex;
            flex-direction: row;
            width: 90%;
            align-items: center;
            justify-content: space-between;
        }

}

@media screen and (min-width:577px ) and (max-width:1024px){

    .Contact {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-top: 10%;
        }
    
        .contact-detail {
            display: flex;
            flex-direction: row;
            width: 90%;
            align-items: center;
            justify-content: space-between;
        }
    
}

